pip3 install instagrapi --break-system-packages
pip3 install peewee --break-system-packages
pip3 install pymysql --break-system-packages
pip3 install apscheduler --break-system-packages
pip3 install moviepy --break-system-packages
pip3 install spintax --break-system-packages
pip3 install cryptography --break-system-packages
pip3 install numpy --break-system-packages
pip3 install scikit-image --break-system-packages
pip3 install openai --break-system-packages
pip3 install pandas --break-system-packages
pip3 install pycryptodomex --break-system-packages
pip3 install pytest-playwright --break-system-packages
pip3 install playwright-stealth --break-system-packages
pip install puppeteer-extra --break-system-packages
pip install pillow --break-system-packages
playwright install-deps




pip3 install --upgrade playwright
pip3 install --upgrade playwright-stealth

